@page "/"

<h1>Hello, world! My name is Tumi</h1>

Welcome to your new app. I have successfully deployed a .NET application using a CI/CD pipeline.

<SurveyPrompt Title="How is Blazor working for you?" />
